/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav a {
    min-width: 98px;
}

#logo-container {
    left: initial;
    right: 0;
}

 a {
     text-decoration: none;
 }
 dt {
     font-size: 150%;
 }

a.src-page img, a.wiki-page img {
    margin-left: -65px;
    margin-top: -6px;
    position: absolute;
    height: 45px;
    border: 10px solid transparent;
}

a.src-page.alt-icon img {
    height: 39px;
    margin-top: -2px;
    margin-left: -77px;
}

.wikimedia-page img {
    border-width: 2px 10px !important;
}

.gh-page img {
    border-width: 6px 10px !important;
}

a.wiki-page img {
    margin-left: -70px;
}

a.second-page img {
    margin-left: -116px;
}

#contrib-list a.tw-icon img {
    border-radius: 200px;
    width: 50px;
    height: 50px;
}


a.ackn-p img {
    border-radius: 200px;
    max-width: 130px;
    max-height: 130px;
}

#contrib-list li, #glossary-list, dl {
    list-style-type: none;
}

#contrib-list {
    font-size: 150%;
    line-height: 2.5;
    padding-left: 80px;
}

p#ackn-p a.tw-icon::after {
    content: attr(tw-handle);
    position: absolute;
    font-size: 14px;
    font-family: monospace;
    margin-left: 20px;
    margin-top: 150px;
}

#contributors {
    padding-top: 80px;
}

#splittable {
        width: 200px !important;
    }

.card-panel.materialize-red a {
color: rgb(255, 222, 161);
}

.row.acknowledgement-card {
    display: inline;
}

.acknowledgement-card a {
    color: #FF5959;
}

ul#contrib-list {
    -moz-columns: 250px 3;
    -webkit-columns: 250px 3;
    column-count: 3;
    column-width: 250px;
    padding-left: 0px;
    min-width: 300px;
}

nav {
    height: 161px;
}

h1#open-glossary {
    position: absolute;
    top: 1px;
    color: white;
    margin-right: 213px;
    margin-left: 15px;
    z-index: 3;
}

span.twname {
    position: relative;
    bottom: 16px;
    left: 13px;
}

ul#contrib-list {
    margin-left: 8%;
}

.img-holder {
    width: 130px !important;
    display: inline-block !important;
}

a.tw-icon.ackn-p {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    vertical-align: bottom;
    padding: 0 30px;
}

span.img-cap-name {
    margin: 0 auto;
    display: table;
}

a.cc-icon img {
    width: 50px;
    height: 50px;
}

img.warning {
    width: 14px !important;
    height: 14px !important;
    margin-left: 8px;
    margin-bottom: 7px;
    margin-right: 4px;
}

span.warn::after {
    content: "Deprecated: typically poorly understood";
    font-size: 12px;
    color: rgb(153, 153, 153);
    font-family: monospace;
    font-style: italic;
    vertical-align: super;
}

ul#f1000, ul#oad-listings {
    padding-left: 24px;
}

#f1000 li p {
    font-weight: 500;
}

ul#oad-listings li {
    list-style-type: circle;
}

#declarations-list img {
    margin-top: -8px;
    height: 38px;
    margin-left: -59px;
}

#resource-list img {
    margin-top: -8px;
    height: 38px;
    margin-left: -59px;
}

footer .footer-license img {
    height: 24px;
    opacity: 0.9;
    margin: 0;
    border: 0;
    margin-bottom: -6px;
}

footer div.container {
    text-align: center;
}

footer .footer-license {
    margin-left: 4px;
}

/* Aside search box */

input#search {
    border-bottom: none;
}

.row {
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -webkit-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    -ms-transition: all ease-in 0.2s;         
    transition: all ease-in 0.2s;
}

nav {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s  ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;         
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

#main-container,
#main-container * {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s  ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;         
    transition: all 0.2s ease-in-out;
    z-index: 0;
}

.nav-stuck nav,
.nav-stuck nav * {
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s  ease-in-out 0.2s;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    -o-transition: all 0.2s ease-in-out 0.2s;
    -ms-transition: all 0.2s ease-in-out 0.2s;         
    transition: all 0.2s ease-in-out 0.2s;
}

#search-fail-panel.search-fail {
    -webkit-transition: all 0.2s ease-in-out 0.1s !important;
    -moz-transition: all 0.2s  ease-in-out 0.1s !important;
    -webkit-transition: all 0.2s ease-in-out 0.1s !important;
    -o-transition: all 0.2s ease-in-out 0.1s !important;
    -ms-transition: all 0.2s ease-in-out 0.1s !important;         
    transition: all 0.2s ease-in-out 0.1s !important;
}

#search-fail-panel {
    -webkit-transition: all 0.1s ease-in-out!important;
    -moz-transition: all 0.1s ease-in-out !important;
    -webkit-transition: all 0.1s ease-in-out !important;
    -o-transition: all 0.1s ease-in-out !important;
    -ms-transition: all 0.1s ease-in-out !important;         
    transition: all 0.1s ease-in-out !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#search-fail-panel a {
    color: grey;
    font-size: 1.25rem;
}

#search-fail-panel a:hover span {
    color: rgb(53, 52, 52);
}

#main-container, #open-glossary, #logo-container, #logo-container img {
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s  ease-in-out 0.2s;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    -o-transition: all 0.2s ease-in-out 0.2s;
    -ms-transition: all 0.2s ease-in-out 0.2s;         
    transition: all 0.2s ease-in-out 0.2s;
}

.search-hidden {
  display: none !important;
}

p#intro-guide {
    font-size: 1.2rem;
    padding: 1.2rem 10% 1.2rem  10%;
    margin-top: 4px;
    margin-bottom: 2.4em;
}

span#social-links {
    display: block; text-align: center; margin-top: 14px; margin-right: auto;
    margin-left: auto;
    padding-top: 6px; 
    padding-bottom: 6px; 
    border-radius: 9px;
    font-size: smaller; font-style: italic; background: white; width: 54%;
}

.nav-wrapper.search-bar {
    width: 52%; display: inline-block;
    margin-left: 44%;
}

select#gloss-select {
    /* width: 20%; */
    display: inline-block;
}

.nav-stuck nav {
    position: fixed;
    height: 75px;
}

.nav-stuck nav .nav-wrapper.container #logo-container img {
    height: 112px;
    clip: rect(0px,36px,100px,0px);
    float: right;
}

.nav-stuck nav a#logo-container {
    height: 75px;
    overflow: hidden;
    position: fixed;
    min-width: initial !important;
}

.nav-stuck h1#open-glossary {
    position: fixed;
    top: 1px;
    color: white;
    margin-right: 213px;
    margin-left: 15px;
    margin-top: 0px;
    font-size: 32px;
}

.nav-stuck div#main-container.container {
    padding-top: 75px;
}

a#logo-container {
    z-index: 3;
}

#search-fail-panel.search-fail, #search-fail-panel.search-fail #search-fail-msg {
    visibility: visible;
    opacity: 1;
}

#search-fail-panel.search-fail {
    margin-top: 0px !important;  
}

#search-fail-panel {
    display: table; 
    margin-top: 118px !important;
    text-align: center; margin-left: auto; margin-right: auto;
}

#search-fail-msg, #search-fail-panel {
    margin-left: 200px;
    width: initial;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    margin: 0;
    width: auto; 
    height: auto; 
    text-align: right;
}

.z-big-fuzz {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.24), 0 7px 47px 0 rgba(0, 0, 0, 0.19);
}

#search-fail-panel i.material-icons {
    position: absolute;
    margin-left: 0px;
    margin-top: -20px;
    cursor: pointer;
    font-size: 19px;
    border: 5px solid transparent;
}

#search-fail-msg {
    text-align: center;
    line-height: 2;
    padding-left: 5px;
    padding-right: 7px;
}

span#search-try {
    font-style: italic !important;
    margin-right: 2px;
}

#search-fail-panel i.material-icons:active {
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.05), 0 6px 13px 0 rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    opacity: 0.5;
}

#social-nav li {
    height: 161px;
}

.nav-stuck #social-nav li,
.nav-stuck #social-nav li a {
  height: 75px;
}

ul#social-nav {
    margin-right: 98px;
}

.nav-stuck #social-nav img {
    height: 65px;
    padding-top: 10px;
}

.nav-stuck #social-nav, .nav-stuck #social-nav li, .nav-stuck #social-nav li a {
    height: 75px !important;
}

#social-nav a {
    text-align: center;
}